:root {
    --tan: #d2b99d;
    --gray: slategray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--gray);
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to header */

header {
    padding: 10px 25px;
    background-color: var(--tan);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 a {
    font-weight: bold;
    font-size: 36px;
    color: var(--gray);
    margin: 0;
}

header nav {
    margin: 7px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 18px;
    color: var(--gray);
    text-decoration: none;
}

/* Hero styles */
.hero {
    background-image: url("../images/e3216b575d5e92031eaf5c1a067f9d31.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
}

.hero h2 {
    float:right;
    margin-top: 125px;
    margin-right: 45px;
}

.headshot {
    height: 180px;
    width: 195px;
    background-image: url("../images/headshot.jpg");
    float:right;
    margin-right: 25px;
    margin-top: 55px;
    display: inline;
}

.subtitle {
    font-style: italic;
    font-size: 15px;
    color: var(--gray);
    text-align: right;
    margin-right: 25px; 
}

/*Body content */

.section-title {
    font-weight: bold;
    font-size: 33px;
    border-bottom: 3px solid var(--tan);
    text-align: left;
    margin: auto;
    padding: 45px;
    width: 80%;
}

.grid-container {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding: 15px;
    margin: auto;
}

.grid-container a {
    text-decoration: none;
}

.grid-item-1 {
    border: 4px solid var(--tan);
    height: 175px;
    margin: 15px;
    background-image: url("../images/cityscape.jpg");
    background-size: cover;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 5px;   
}


.grid-item-2 {
    border: 4px solid var(--tan);
    height: 125px;
    width: 225px;
    margin: 15px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 5px;
}

.grid-item-3 {
    border: 4px solid var(--tan);
    height: 125px;
    width: 225px;
    margin: 15px;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 5px;
}

.contact-info ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    list-style: none;
}

.contact-info ul li a {
    color: var(--gray);
}

.bio {
    padding: 30px;
    width: 80%;
    align-items: center;
    margin: auto;
}

@media screen and (max-width: 768px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header nav ul {
        width: 100%;
        justify-content: center;
    }
    
    .grid-container {
        margin-left: 10px;
    }

}




